/*

/* Developed by Luiz Fernando Malta Martins

/* Aqui esta todo os estilo da pagina index.php

/* @author Luiz Fernando - lufmalta@gmail.com
*/

body{
	background-color:#eee;
}
header {
	background-color:#888;
	width:100%;
	height:50px;

}
header .topoint {
	background-color:#ccc;
	margin:auto;
	height:50px;
	max-width:1080px;
	line-height:50px;
	text-align:center;
}
main h3 {
	text-align:center;
}
main .container label {
	text-align:center;

}
main .colHabilidades {
	color:green;
}
.separaDiv {
	width:100%;
	height:5px;
	background-color:#ddd;
}